<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nayle.movieapp">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--<android:uses-permission android:name="android.permission.READ_PHONE_STATE" />-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" />
        <activity android:name=".DetaildActivity" />

        <!--<activity-->
            <!--android:name=".MainActivity"-->
            <!--android:label="@string/title_activity_main_" />-->
        <!--<category android:name="android.intent.category.LAUNCHER" />-->

        <!--<activity-->
            <!--android:name=".Main2Activity"-->
            <!--android:label="@string/title_activity_main2"></activity>-->
        <!-- -->
        <!-- -->
        <!--<activity-->
            <!--android:name=".DetaildActivity"-->
            <!--android:label="@string/title_activity_detail"></activity>-->
    </application>

</manifest>
